body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

header {
  background-color: #292828;
  position: fixed;
  padding: 15px 0;
  width: 100%;
}
header .menu {
  padding: 10px 0;
}
header .menu .imgbox {
  width: 200px;
}
header .menu nav a {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
header .menu nav a:hover {
  color: #f1ff2e;
}
header .menu .box {
  border: 2px solid #8b8989;
  padding: 12px;
  border-radius: 5px;
  display: none;
}
header .menu .box h1 {
  color: #818181;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}
header .menu .box .icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 998px) {
  header .menu {
    padding: 18px 0;
  }
  header .menu nav {
    display: none;
  }
  header .menu .box {
    display: block;
    display: flex;
    justify-content: flex-end;
  }
}

#nice {
  min-height: 120vh;
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  background-position: center;
}
#nice .textbox h1 {
  font-size: 30px;
}
#nice .textbox h3 {
  font-size: 70px;
  font-weight: 700;
  margin: 25px 0 55px;
}
#nice .textbox .btn {
  padding: 20px 50px;
  background-color: #d6a801;
  font-size: 20px;
  color: #fff;
}
#nice .textbox .btn:hover {
  background-color: #d6a801;
}
@media screen and (max-width: 768px) {
  #nice .textbox h1 {
    font-size: 20px;
  }
  #nice .textbox h3 {
    font-size: 50px;
    margin: 25px 0 55px;
  }
  #nice .textbox .btn {
    padding: 20px 50px;
    background-color: #d6a801;
    font-size: 20px;
    color: white;
  }
}

#services {
  padding-top: 25px;
}
#services .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 80px;
}
#services .textbox h2 {
  font-size: 20px;
  margin: 20px 0 60px;
  color: #6c757d;
}
#services .box {
  text-align: center;
  margin-bottom: 80px;
}
#services .box h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 18px 0;
}
#services .box h3 {
  font-size: 20px;
  color: #5e666d;
  line-height: 1.5;
}
#services .box .icon {
  font-size: 65px;
  border-radius: 90px;
  width: 125px;
  padding: 30px 0;
  background-color: #fdfa2c;
  color: white;
  margin-left: 110px;
}

#portfolio {
  padding-top: 35px;
}
#portfolio h1 {
  font-size: 60px;
  font-weight: 700;
}
#portfolio h3 {
  color: #6c757d;
  font-size: 25px;
  margin: 15px 0 50px;
}
#portfolio .textbox {
  text-align: center;
}
#portfolio .textbox h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 25px;
}
#portfolio .imgbox {
  position: relative;
  z-index: 1;
  width: 300px;
}
#portfolio .overlay {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 60px;
  top: 0;
  background-color: rgba(255, 200, 0, 0.9);
  transition: 1s;
}
#portfolio .overlay:hover {
  opacity: 1;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #portfolio h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  #portfolio h1 {
    font-size: 35px;
  }
  #portfolio .textbox h2 {
    font-size: 26px;
  }
  #portfolio h3 {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */